<%- include('component/header.ejs') %>
 <!--start wrapper-->
    <div class="wrapper">
       <!--start sidebar wrapper-->
       

       <%- include('component/side-bar.ejs') %>
         <%- include('component/top-nav.ejs') %>


         <div class="container-fluid task-update" id="task-sheet-completed">
           <div id="complete-task-sheet-upper">
          <div class="row">
          <div class="col-8">
            <div class="button-group">
              <button type="button" class="btn btn-warning px-5 m-3">Add a New User</button>
              <!-- <button type="button" class="btn btn-warning px-5">Edit Whole Task</button> -->
              <button class="btn btn-outline-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example2" type="button"><span>Excel</span></button>
          </div>
          </div>
          <div class="col-4">
             <div class="row">
               <div class="col-4">
                <label>Filter By</label>
                <select class="form-select mb-3" aria-label="Default select example">
                  <option selected="">Type</option>
                  <option value="1">Admin</option>
                  <option value="2">User</option>

                </select>
               </div>
             </div>
          </div>
          </div>
        </div>
          <div class="card radius-10">
            <div class="card-body">
              <div id="complete-task-sheet">
              <div class="d-flex align-items-center" >
                <h6 class="mb-0">User</h6>
                <div class="fs-5 ms-auto dropdown">
                   <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></div>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Action</a></li>
                       <li><a class="dropdown-item" href="#">Another action</a></li>
                       <li><hr class="dropdown-divider"></li>
                       <li><a class="dropdown-item" href="#">Something else here</a></li>
                     </ul>
                 </div>
               </div>
               <!--TABLE RESPONSIVE START-->
               <div class="table-responsive mt-2">
                <table class="table align-middle mb-0" id="taskSheet-table">
                  <thead class="table-light">
                    <tr>
                      <th>Employee Name</th>
                      <th>Password</th>
                      <th>Designation</th>
                      <th>Type</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                   <!--Table Row Starting-->
                    <tr>
                      <td>
                          <h6 class="product-name mb-1">Osman Shaikh</h6>
                      </td>
                      <td>************</td>
                      <td>Consultant</td>
                      <td>Admin</td>
                      <td>
                        <div class="d-flex align-items-center gap-3 fs-6">
                          <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><ion-icon name="eye-sharp"></ion-icon></a>
                          <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit"><ion-icon name="pencil-sharp"></ion-icon></a>
                          <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete"><ion-icon name="trash-sharp"></ion-icon></a>
                        </div>
                      </td>
                    </tr>
                    <!--Table Row Ending-->

                  </tbody>
                </table>
              </div>
               <!--TABLE RESPONSIVE END-->
              </div>

               <!--ADD A TASK/EDIT A TASK START-->
               <div class="table-responsive mt-5" id="Task-Form">
                <div class="card">
                  <div class="card-body">
                    <div class="border p-3 rounded">
                      <div class="row">
                        <div class="col-10">
                          <h6 class="mb-0 text-uppercase">User Form</h6>
                        </div>
                        <div class="col-2"><button type="button" class="btn btn-danger px-5">Delete</button></div>
                      </div>
                     <hr>

                    <form class="row g-3">
                      <div class="col-3">
                        <label class="form-label">Employee Name</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to enter name">
                      </div>
                      <div class="col-3">
                        <label class="form-label">Password</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to enter name">
                      </div>
                      <div class="col-3">
                        <label class="form-label">Designation</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to enter name">
                      </div>
                      <div class="col-3">
                        <label class="form-label">Type</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to enter name">
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-custom">Submit</button>
                        </div>
                      </div>
                    </form>
                    <!--ADD A TASK/EDIT A TASK END-->
                  </div>
                  </div>
                </div>
               </div>

            </div>
          </div>
         </div>

        </div>
<%- include('component/footer.ejs') %>
