<div class="mini-sidebar-wrapper">
    <div class="mini-sidebar-header">
       <img src="assets/images/logo-icon-2.png" alt="" class="logo-icon">
    </div>
    <div class="mini-sidebar-navigation d-flex align-items-center justify-content-center">
     <ul class="nav nav-pills flex-column">
       <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboards">
         <a href="/dashboard" class="nav-link"><ion-icon name="home-sharp"></ion-icon></a>
       </li>
       <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboards">
         <a href="/taskSheet" class="nav-link" ><span class="iconify" data-icon="flat-color-icons:data-sheet"></span>
         </a>
       </li>
       <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboards">
        <a href="/userSheet" class="nav-link" ><span class="iconify" data-icon="bx:bxs-user-badge"></span>
        </span>
        </a>
      </li>
       
     </ul>
     </div>
     <div class="toggle-menu-wrapper">
        <div class="toggle-menu-button">
         <ion-icon name="chevron-back-sharp"></ion-icon>      
        </div>
     </div>
  </div>